html {
  background: url(background1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body > * {
	/*width: 500px;*/
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	style: "black";
}
.top-header {
	width: 800;
}

.top-header > * {
	margin: 0 auto;
}

#difficulty-picker {
	margin: 30px auto;
	text-align: center;
	width: 500
}

#difficulty-picker > * {
    margin: 0 20;
}

button {
    border: none;
    color: white;
    padding: 7px 15px;
    /*margin: 20 20;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}


.profile-pic {
	height: auto;
	display: flex;
	justify-content: center; /* align horizontal */
  align-items: center;
}

.img {
	display: flex;
	justify-content: center; /* align horizontal */
  align-items: center;
	width: 400px;
	height: auto;
}

.overlay {
	position: absolute;
  height: 51%;
  width: 400px;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.profile-pic:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.about__me {
	font-family: 'Pacifico', cursive;
  color: white;
  font-size: 18px;
	position: absolute;
  display: flex;
	text-align: center; /* align horizontal */
	top: 25%;
}

#hobbies-shown{
		font-family: 'Pacifico', cursive;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
		display:none;

}

#goals-shown{
		font-family: 'Pacifico', cursive;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
		display:none;

}

#quirks-shown{
		font-family: 'Pacifico', cursive;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
		display:none;

}

.easyBtn {
	background-color: RosyBrown;
	border: grey;
	border-style: solid;
}

.mediumBtn {
	background-color: LightCoral;
	border: grey;
	border-style: solid;
}

.hardBtn {
	background-color: DarkSalmon;
	border: grey;
	border-style: solid;
}

#resetBtn {
	margin: 30px auto;
	background-color: Thistle;
	display: none;
}

.canvas-container {
	width: 500px;
	margin: 0 auto;
}

.memgame {
	margin: 0 auto;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle:hover {
	-webkit-animation: wiggle 0.5s infinite;
}
